<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header">
    <p>
      <%= @sheet.created_at.strftime("%Y/%m/%d") %>
      <br>
      <br>
      <%= @sheet.title %>
    </p>
  </div>
  <% # byebug %>
  <% @sheet.tasks.each do |task| %>
    <div class="task">
      <%= task.name %>
    </div>
  <% end %>
</div>
<% if @sheet.tasks.count < 15 %>
  <%= link_to 'New Task', new_sheet_task_path(@sheet) %>
<% end %>
<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
